/* style.css */

body{

    align-items: center;


    height: 100%;
}
header {
    text-align: center;
    padding: 20px;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1, h2, h3 {
    color: #333;
}

section {
    margin: 20px 0;
    padding: 0 20px;
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 0;
}
